

<div class="container mt-5">
    <h2 class="mb-4">Shopping Cart</h2>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart">
          <td>
            <div class="d-flex align-items-center">
              <img src="{{item.product_img_url}}" alt="Product Image" class="cart-product-image me-3" width="150px">
              <span>{{ item.product_name }}</span>
            </div>
          </td>
          <td>{{ item.product_price | currency:'INR' }}</td>
          <td>
            <div class="input-group">
              <button class="btn btn-secondary" (click)="decrementQuantity(item)">-</button>
              <span class="btn btn-outline-secondary">{{ item.product_quantity }}</span>
              <button class="btn btn-secondary" (click)="incrementQuantity(item)">+</button>
            </div>
          </td>
          <td>{{ (item.product_price * item.product_quantity) | currency:'INR' }}</td>
          <td>
            <button class="btn btn-danger" (click)="removeFromCart(item)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="row">
      <div class="col-md-6">
        <!-- <a href="#" class="btn btn-primary">Continue Shopping</a> -->
      </div>
      <div class="col-md-6 text-end">
        <p><strong>Subtotal:</strong> <span id="subtotal">{{ subtotal | currency:'INR' }}</span></p>
        <a routerLink="/thankyou" class="btn btn-success" style="background-color: #4caf50; color: #fff; transition: background-color 0.3s ease-in-out;">Checkout</a>      </div>
    </div>
  </div>
  